@model IEnumerable<AdminAPPCORONA.Models.Servicio>

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Indice de Servicios</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Servicios</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de Servicios</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Crear Servicio", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recomendaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraindicaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Advertencias)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recomendaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contraindicaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Advertencias)
        </td>
        <td>
			@Html.ActionLink("Detalles", "Details", new { id=item.IDServicio }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Editar", "Edit", new { id=item.IDServicio }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IDServicio }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



